.tr_first{background-color:#b886ff; height: 50px; color: white; letter-spacing: 2px; font-size: 13pt;}
.tr_second{background-color: #e5ffff;}
.h30.lime.center.btn {
	background-color: #e5ffff;
}
